.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.idea
/.vscode
*.md
!README.md
docker-compose.yml
docker-compose.override.yml
.DS_Store
Thumbs.db

